@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --white: #ffffff;
    --black: #171717;
    --color-bkg: 216deg, 0%, 100%;
    /* Light background */
    --color-content: 217deg 28% 12%;
    /* Dark content (text) */
    --color-accent1: 340deg 82% 52%;
    /* Bright pinkish-red accent */
    --color-accent2: 200deg 90% 50%;
    /* Bright blue accent */
    --color-bcol: #171717;
  }

  :root[data-theme='dark'] {
    --white: #ffffff;
    --black: #171717;
    --color-bkg: 216deg 0% 7%;
    /* Dark background */
    --color-content: 217deg 100% 97%;
    /* Light content (text) */
    --color-accent1: 340deg 72% 62%;
    /* Muted pinkish-red accent */
    --color-accent2: 200deg 80% 60%;
    --color-bcol: #ffffff;
  }
}


.profile-border-light {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23808080' stroke-width='4' stroke-dasharray='11%2c 13%2c 7' stroke-dashoffset='37' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 14px;
}

.profile-border-dark {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23b0b0b0' stroke-width='4' stroke-dasharray='11%2c 13%2c 7' stroke-dashoffset='37' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 14px;
}
